body {
	line-height: 1;
}

.margine-auto {
	margin: 20px auto;
}

.table {
	margin-bottom: 0px;
}

.table span {
	margin-left: -20px;
	margin-right: -20px;
}
.main-link a {
	color: #98A5FB;
	font-size: 25px;
	line-height: 50px;
}
.header {
	background: #24246F;
}
.main-link {
	text-align: center;
	height: 50px;
}	

.zero-margine {
	margin: 0px;
}
.zero-padding {
	padding: 0px;
}

.border {
	margin-top: 15px;
	border: 10px solid black;
	border-radius: 50px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(186,186,186,1)), color-stop(100%, rgba(255,255,255,1)));
}
.timer {
	font-size: 175px;
	text-align: center;
	color: black;
}

.timer-button {
	border: 10px solid black;
	margin-top: 15px;
	width: 450px;
	height: 250px;
	font-size: 100px;
	color: black;
	text-align: center;
}
.control-panel {
	position: relative;
}

.run-timer {
	/*background: green;*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,212,212,1)), color-stop(1%, rgba(0,245,0,1)), color-stop(73%, rgba(0,245,0,1)), color-stop(100%, rgba(0,245,0,1)));
	text-align: center;
	line-height: 225px;
	border-radius: 15%;
	display: block;
	margin: 20px auto;
	
}

.clear-timer {
	background: red;
	text-align: center;
	line-height: 225px;
	border-radius: 15%;
	margin: 20px auto;
}
.buttons-padding {
	padding-left: 90px;
}

.pause {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,212,212,1)), color-stop(1%, rgba(0,245,0,1)), color-stop(73%, rgba(0,245,0,1)), color-stop(100%, rgba(0,245,0,1)));
	text-align: center;
	line-height: 225px;
	border-radius: 15%;
	display: none;
	z-index: -2;
	margin: 20px auto;
}

.continue {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,128,128,1)), color-stop(11%, rgba(0,128,128,1)), color-stop(100%, rgba(0,255,255,1)));
	text-align: center;
	line-height: 225px;
	border-radius: 15%;
	margin: 20px auto;
}

.displayBlock {
	display: block;
}

.displayNone {
	display: none;
}


.timer-ms {
font-size: 50px;
height: 50px;
padding-left: 70%;
}
